.counter-list{
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.info-bar{
    margin-top: 5px;
    padding: 5px;
    border: 3px solid purple;
    font-size: 25px;
    position: fixed;
    top: 0;
    left: 150px;
    display: flex;
}

.info-bar p {
    margin-left: 5px;
}

.info-bar button{
    padding: 5px;
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    color: aliceblue;
    background-color: black;
    margin-left: 5px;
    cursor: pointer;
}